[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"

[packages]
django = "==2.2.13"
djangorestframework = "*"
django-debug-toolbar = "*"
django-dotenv = "*"
django-countries = "*"
pillow = "*"
django-seed = "*"
pilkit = "*"
django-imagekit = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
